// Colours
$black-light2: #3d3737;
$black-light1: #2f2b2b;
$black: #221f1f;
$black-dark1: #151313;
$black-dark2: #070707;

$grey-light2: #f4f4f4;
$grey-light1: #e7e7e7;
$grey: #dadada;
$grey-dark1: #cdcdcd;
$grey-dark2: #c1c1c1;

$amber-light2: #eba77a;
$amber-light1: #e79964;
$amber: #e48a4e;
$amber-dark1: #e17b38;
$amber-dark2: #dd6d22;

$yellow-light2: #f8d577;
$yellow-light1: #f6cd5f;
$yellow: #f5c647;
$yellow-dark1: #f4bf2f;
$yellow-dark2: #f2b717;

$green-light2: #abdb77;
$green-light1: #9ed563;
$green: #92d04f;
$green-dark1: #86cb3b;
$green-dark2: #79ba32;

$lightblue-light2: #92e0fe;
$lightblue-light1: #78d8fe;
$lightblue: #5fd1fe;
$lightblue-dark1: #46cafe;
$lightblue-dark2: #2cc2fe;

$pink-light2: #f2a6d4;
$pink-light1: #ee90c9;
$pink: #eb7abe;
$pink-dark1: #e864b3;
$pink-dark2: #e44ea8;

$red-light2: #fe5a45;
$red-light1: #fe442b;
$red: #fe2d12;
$red-dark1: #f51d01;
$red-dark2: #dc1a01;

$cloud: #fdf8f8;

$white: #ffffff;
