@use './colors.scss' as *;

.login {
  width: 100%;

  &__form {
    width: 40%;
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
  }
  &__error {
    color: $red;
    margin: 0.5rem 0 2rem 0;
    text-decoration: underline;
  }
  &__label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0;
  }
  &__input {
    padding: 0 0.5rem;
    border: 1px solid $black-light1;
    border-radius: 0.3rem;
    font-size: 1rem;
    width: 20rem;
    height: 2.5rem;
    margin: 0.5rem 0 1rem 0;
  }
  &__button {
    background-color: $lightblue;
    margin: 1rem 2.5rem;
    width: 15rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: $cloud;
    &:hover {
      background-color: $lightblue-dark2;
    }
  }
  &__link {
    margin: 0 6rem;
    color: $grey-dark2;
    &:hover {
      color: $black;
    }
  }
}
