@use '../../styles/colors' as *;

.header {
  padding: 4rem 3rem 1.5rem 3rem;
  width: 100%;
  height: 8.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $cloud;
  &__title {
    margin: 0;
    font-size: 2rem;
  }
  &__user {
    margin-right: 0.375rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
