@use '../../styles/colors' as *;

.sidebar {
  z-index: 2;
  background-color: $cloud;
  width: 21.25rem;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 0 1px 18px -5px rgba(35, 33, 33, 0.25);

  &__header {
    padding: 4rem 3rem;
    display: flex;
    align-items: center;
    color: $black;
    img {
      padding-right: 0.75rem;
    }
  }
  &__seperator {
    width: 1px;
    height: 3rem;
    margin-right: 0.75rem;
    background-color: $grey-dark2;
  }
  &__headerinfo {
    display: flex;
    height: 3rem;
    flex-direction: column;
    justify-content: space-around;
    h2,
    p {
      padding: 0;
      margin: 0;
    }
  }
  &__infoname {
    font-size: 0.825rem;
    font-weight: 400;
  }
  &__inforole {
    font-size: 0.75rem;
  }

  &__nav {
    padding-left: 3rem;
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:hover {
      color: $lightblue-dark2;
    }
    padding-bottom: 3rem;
  }
  &__logout {
    border: none;
    font-size: 1rem;
    background-color: $red-light1;
    color: $cloud;
    margin: 3rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
  }
}

.active {
  color: $lightblue-dark2;
}
